<nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
			<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
		</ul>
	</div>
</nav>
nav.navbar.navbar-expand-lg.navbar-light.bg-light
a.navbar-brand(href='#') Navbar
button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
 span.navbar-toggler-icon
#navbarSupportedContent.collapse.navbar-collapse
 ul.navbar-nav.mr-auto
  li.nav-item.active
   a.nav-link(href='#')
    | Home 
   span.sr-only (current)
  li.nav-item
   a.nav-link(href='#') Link